@use "../../utils/mixin" as *;
@use '../../utils/varaible' as *;
@use '../../utils/extend' as *;
main{
    footer{
        margin-top: 80px;
        background-color: $font-color-default;
        color: $font-color-white;
        .container{
            font-family: $font-family;
            .row{
                padding: 30px 0 0 0;
                hr{
                    margin-top: 50px;
                }
                @include Flexible($align-i:baseline);
                .col-lg-3{
                p{
                    @include Text($weight:$font-weight-400,$size:14px,$margin:20px 0 20px 0,$line-h:20px);
                }
                }
                .col-lg-9{
                    .row{
                        @include Flexible($align-i:flex-start,$justify-c:space-between,$direction:row);
                        .col-4{
                            .lists{
                                li{
                                    cursor: pointer;
                                    transition: 0.3s ease-in-out;
                                    &:hover{
                                        color: $font-color-primary;
                                    }
                                }
                            }
                            ul{
                                li{
                                    &:nth-child(1){
                                        @include Text($weight:$font-weight-600,$size:17px,$margin:0 0 20px 0,$line-h:20px);
                                    }
                                    @include Text($weight:$font-weight-400,$size:14px,$line-h:30px);
                                    .icons{
                                        font-size: 20px;
                                        margin-bottom: 30px;
                                        i{
                                            transition: 0.3s ease-in-out;
                                            cursor: pointer;
                                            padding-right: 10px;
                                            &:hover{
                                            color: $font-color-primary;
                                        }
                                        }
                                        
                                    }
                                }
                                .sign{
                                    @include Text($weight:$font-weight-600,$size:15px,$margin:0 0 10px 0);
                                }
                            }
                        }
                        
                    }
                }
                .col-lg-12{
                   @include Flexible($justify-c:space-between,$align-i:center);
                   .first{
                    p{
                        @include Text($weight:$font-weight-400,$size:14px,$margin:20px 0 20px 0,$line-h:20px); 
                    }
                   }
                   .second{
                    span{
                        @include Text($weight:$font-weight-400,$size:14px,$margin:20px 0 20px 0,$line-h:20px);  
                        transition: 0.3s ease-in-out;
                        cursor: pointer;
                        &:hover{
                            color: $font-color-primary;
                        }
                    }
                   }
                }
            }
        }
    }
}
@media(max-width:998px){
    main{
        footer{
            .container{
                .col-lg-9{
                   .row{
                    @include Flexible($direction:column,$align-i:center,$justify-c:center); 
                } 
                }
                
            }
        }
    }
}