@use "../../utils/mixin" as *;
@use '../../utils/varaible' as *;
@use '../../utils/extend' as *;
main{
    #plans{
        margin-top: 130px;
        .container{
            font-family: $font-family;
            .row{
                @include Flexible($align-i:center,$justify-c:space-around,$gap:10px);
            h2{
                margin-bottom: 50px;
                @include Text($size:30px,$align:center,$weight:$font-weight-600);
                span{
                    color: $font-color-primary;
                }
            }
            .col-lg-4{
                color: $font-color-white;
                padding: 40px;
                width: 350px;
                background-color: $font-color-default;
                border-radius: 5px;
                .texts{
                    @include Flexible($align-i:center,$direction:column);
                    h3{
                        @include Text($size:21px,$weight:$font-weight-500,$margin:0 0 20px 0); 
                      
                    }
                    h4{
                        @include Text($size:24px,$weight:$font-weight-500,$margin:0 0 35px 0);
                        span{
                            font-size: 58px;
                        }
                    }
                    ul{
                        li{
                            @include Text($size:14px,$weight:$font-weight-500,$align:center,$padding:0 0 15px 0);  
                        }
                    }
                    button{
                        @extend %button;
                        margin-top: 30px;
                        width: 170px;
                        background-color: $font-color-grey;
                        size: 14px;
                        transition: 0.2s ease-in-out;
                        &:hover{
                            background-color: $font-color-white;
                            color: $font-color-default;
                        }
                    }
                }
            &:nth-child(3){
                background-color: $font-color-primary;
                button{
                    background-color: rgb(147, 147, 240);
                }
            }
            }
            }
        }
    }
}