@use "../../utils/mixin" as *;
@use '../../utils/varaible' as *;
@use '../../utils/extend' as *;
main{
    #seo-agency{
        margin-top: 130px;
        .container{
            margin: 0 auto;
            font-family: $font-family;
            .first{
                @include Flexible($align-i:baseline);
                .col-lg-6{
                 .texts{
                    h4{
                        @include Text($color:$font-color-primary,$weight:$font-weight-600,$size:15px,$margin:0 0 20px 0);
                    }
                    h2{
                        @include Text($color:$font-color-default,$weight:$font-weight-600,$size:35px,$margin:0 0 20px 0,$line-h:40px);
                        max-width: 400px; 
                    }
                    p{
                        @include Text($color:rgb(117, 116, 116),$weight:$font-weight-400,$size:14px,$margin:0 0 20px 0,$line-h:25px);
                        max-width: 380px;
                    }
                    a{
                        @include Text($color:$font-color-primary,$weight:$font-weight-600,$size:16px,$decoration:none);

                    }
                 }
                }
                .col-md-12{
                    .row{
                        .col-lg-6{
                            margin-bottom: 60px;
                        i{
                            position: relative;
                            color: $font-color-primary;
                            z-index: 9999;
                            &::after{
                                position: absolute;
                                content: "";
                                width: 45px;
                                height: 45px;
                                background-color: rgb(232, 232, 245);
                                border-radius: 50%;
                                top: -15px;
                                left: -15px;
                                z-index: -9999;
                            }
                        }
                        h3{
                            @include Text($color:$font-color-default,$weight:$font-weight-600,$size:20px,$margin:25px 0 0 0);
                        }
                        h4{
                            @include Text($color:rgb(117, 116, 116),$weight:$font-weight-400,$size:14px,$margin:15px 0 0 0,$line-h:23px);
                        }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:1220px){
    main{
        #seo-agency{
            .col-lg-6{
                margin-top: 50px;
            }
        }
    }
}