$font-family:'DM Sans', sans-serif;

$font-weight-400:400;
$font-weight-500:500;
$font-weight-600:600;
$font-weight-700:700;

$font-color-primary:#5F5DFF;
$font-color-default:#263238;
$font-color-text:rgb(196, 195, 195);
$font-color-white:#fff;
$font-color-grey:#5D5D5D;

$font-size-navbar:14px;
$font-size-texts:17px;
$font-size-header-texts:24px;